/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

/* Variables */
:root {
  /* Font */
  --ff-primary: "Josefin Sans", sans-serif;

  /* Colors */
  --brown: #423a3a;
  --pink-1: #ce9898;
  --pink-2: #ee8b8b;
  --white: #fff;
  --text-bg: #fff7f7;
  --gradient: linear-gradient(to right, #f4acac, #ef9292);

  /* Font Sizes */
  --fs-1: 4rem;
  --fs-2: 1rem;
  --fs-3: 0.813rem;

  /* Font Weights */
  --fw-1: 600;
  --fw-2: 400;
  --fw-3: 300;

  /* Line Height */
  --lh-1: 4.5rem;
  --lh-2: 1.75rem;

  /* Letter Spacing */
  --ls-1: 1rem;
}

/* Utility Classes */
/* Font */
.ff-primary {
  font-family: var(--ff-primary);
}

/* Colors */
.brown {
  color: var(--brown);
}

.pink-1 {
  color: var(--pink-1);
}

.pink-2 {
  color: var(--pink-2);
}

/* Background Colors */
.white-bg {
  background-color: var(--white);
}

.text-bg {
  background-color: var(--text-bg);
}

/* Text Presets */
.tp-1 {
  font-size: var(--fs-1);
  font-weight: var(--fw-3);
  line-height: var(--lh-1);
  letter-spacing: var(--ls-1);
}

.tp-2 {
  font-size: var(--fs-1);
  font-weight: var(--fw-1);
  line-height: var(--lh-1);
  letter-spacing: var(--ls-1);
}

.tp-3 {
  font-size: var(--fs-2);
  font-weight: var(--fw-2);
  line-height: var(--lh-2);
}

.tp-4 {
  font-size: var(--fs-3);
  font-weight: var(--fw-2);
}

/* Main */
main {
  display: flex;
}

/* Text */
.text {
  position: relative;
  width: 60%;
  padding: 5vh 10vw;
}

.text h1 {
  text-transform: uppercase;
  margin-top: 13vh;
}

.text p {
  margin-block: 2rem 2.5rem;
  max-width: 28rem;
}

.text::after {
  content: "";
  position: absolute;
  inset: 0;
  background: url(./images/bg-pattern-desktop.svg) no-repeat center center /
    cover;
  z-index: -1;
}

.text::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--text-bg);
  z-index: -1;
}

/* Image */
.main-img {
  height: 100vh;
  width: 40%;
  position: relative;
}

.main-img::after {
  content: "";
  position: absolute;
  inset: 0;
  background: url(./images/hero-desktop.jpg) no-repeat center top / cover;
}

/* Form */
form {
  height: 3.5rem;
  display: flex;
  max-width: 28rem;
  width: 100%;
  border: 2px solid var(--pink-1);
  border-radius: 100rem;
  position: relative;
}

form input {
  height: 100%;
  flex-grow: 1;
  background-color: transparent;
  border: none;
  outline: none;
  padding-inline: 2rem 3rem;
  min-width: 5rem;
}

form input::placeholder {
  color: var(--pink-1);
}

form button {
  height: 100%;
  background: var(--gradient);
  flex-shrink: 0;
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  border-radius: 100rem;
  transform: scale(1.06);
  box-shadow: 0 15px 20px rgba(198, 110, 110, 0.25);
}

.error {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 7rem;
  opacity: 0;
}

.error-msg {
  position: absolute;
  bottom: -4rem;
  left: 2rem;
  opacity: 0;
}

/* Error Visibility */
.toggle-error {
  opacity: 1;
}

.error-border {
  border: 2px solid var(--pink-2);
}

/* Media Query */
@media screen and (max-width: 57rem) {
  .text {
    padding-inline: 5vw;
  }
}

@media screen and (max-width: 46rem) {
  /* Variables */
  :root {
    /* Font Sizes */
    --fs-1: 2.5rem;

    /* Line Height */
    --lh-1: 2.6rem;

    /* Letter Spacing */
    --ls-1: 0.7rem;
  }

  /* Main */
  main {
    flex-direction: column-reverse;
    position: relative;
  }

  .main-img {
    width: 100%;
    height: 30vh;
    position: absolute;
    top: 6rem;
  }

  .main-img::after {
    background: url(./images/hero-desktop.jpg) no-repeat center 13% / cover;
  }

  /* Text */
  .text {
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 2rem;
  }

  .text h1 {
    margin-top: 37vh;
  }

  .text p {
    margin-block: 5% 10%;
    max-width: 100%;
  }

  /* Form */
  form {
    height: 3rem;
    margin-inline: auto;
  }

  form button {
    width: 4rem;
  }

  .error {
    right: 5rem;
  }
}
